// COLORS
$color-white: #ffffff;
$color-dark-white: #fdfdff;
$color-black: #000000;
$color-light-black: #0b0e15;
$color-very-light-black: #13161c;
$color-blue: #5271ff;
$color-light-blue: #6078ed;
$color-dark-violet: #6768ab;
$color-violet: #bc13fe;
$color-pink: #f09;
$color-grey: #595959;
$color-light-grey: #929393;
$color-very-light-grey: #ebedf0;
$color-red: #f53c14;
$color-green: #10c44c;
$color-light-green: #0fa;
$color-orange: #ffa040;

// FONT SIZES
$fs-xxs: 10px;
$fs-xs: 12px;
$fs-s: 16px;
$fs-m: 20px;
$fs-l: 24px;
$fs-xl: 32px;

// LINE HEIGHTS
$lh-xs: 12px;
$lh-s: 18px;
$lh-m: 24px;
$lh-l: 36px;
$lh-xl: 48px;

// FONT WEIGHTS
$fw-400: 400;
$fw-500: 500;
$fw-700: 700;

// BORDER RADIUS
$br-s: 4px;
$br-m: 8px;
$br-l: 12px;
$br-xl: 16px;
$br-xxl: 24px;

// SIZES
$base-width: 1440px;
